.film-results__item {
  --red: #f65261;
  --grey: #555555;
  --grey-transparent: #232323b7;
  --grey-darker: #232323;
  --grey-darker-transparent: #232323d7;
  --white: #ffffff;

  color: var(--white);
}

.film-results__item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  min-width: 300px;
}

.film__logo {
  height: 500px;
}

.film__description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-weight: 100;
  position: relative;
  margin-top: 1rem;
}

.film__title {
  font-size: 1.2rem;
  color: #bbbbbb;
  background-color: transparent;
  text-align: left;
  outline: none;
  max-width: 80%;
}

.film__genre {
  font-size: 1rem;
  color: #8d8d8d;
  max-width: 80%;
}

.film__release-year {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid var(--white);
  border-radius: 5px;
  font-weight: lighter;
  padding: 5px 8px;
  line-height: 1.2rem;
  font-size: 1.2rem;
}

.film-results__item:hover .film__menu {
  display: inline-block;
}
