.film-form .labeled-input,
.film-form .labeled-title,
.film-form .genres {
  display: block;
  text-transform: uppercase;
  color: var(--red);
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.film-form labeled-input:last-child {
  margin: 0;
}

.film-form labeled-input > * {
  display: block;
  width: 100%;
}

.film-form input,
.film-form select {
  line-height: 2rem;
  font-size: 1rem;
  background-color: #2e2e2e;
  color: var(--white);
  padding: 0.5rem 1rem;
  width: 100%;
  margin-top: 0.5rem;
}

.film-form__actions {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.film-form__actions__submit {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.film-form__actions__reset {
  margin-bottom: 1rem;
  padding: 0.5rem 3.5rem;
}

.film-form .labeled-input__error {
  font-size: 0.8rem;
  font-weight: 100;
  color: var(--red);
  text-transform: none;
}
