.film-results {
  --red: #f65261;
  --grey: #555555;
  --grey-transparent: #55555570;
  --grey-darker: #232323;
  --grey-darker-transparent: #232323d7;
  --white: #ffffff;

  color: var(--white);
}

.film-results__title {
  height: 5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.film-results__count::after {
  content: '';
  display: inline-block;
  width: 0.5rem;
}

.film-results__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 3rem;
  row-gap: 3rem;
  justify-items: start;
  margin: 1rem auto 2rem;
}
