.delete-film {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.delete-film__description {
  font-size: 1.7rem;
  font-weight: 200;
  margin: 1rem 0;
}

.delete-film__confirm {
  float: right;
}
