.edit-film label {
  display: block;
  text-transform: uppercase;
  color: var(--red);
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.edit-film label:last-child {
  margin: 0;
}

.edit-film label > *{
  display: block;
  width: 100%;
}

.edit-film input,
.edit-film select,
.edit-film p {
  line-height: 2rem;
  font-size: 1rem;
  background-color: #2E2E2E;
  color: var(--white);
  padding: 0.5rem 1rem;
  width: 100%;
  margin-top: 0.5rem;
}

.edit-film__actions {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.edit-film__actions button {
  padding: 0.5rem 3rem;
}

.edit-film__actions button:first-child {
  margin-right: 1rem;
}
