html {
  --red: #f65261;
  --grey: #555555;
  --grey-transparent: #55555570;
  --grey-darker: #232323;
  --white: #ffffff;
}

footer {
  background-color: #424242;
  color: var(--red);
  height: 7vh;
  font-size: 1.5rem;
  position: relative;
  bottom: 0;
  z-index: 3;
}

footer .brand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
