.modal-window__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--grey-darker);
  filter: blur(1px) grayscale(50%);
  opacity: 0.8;
  z-index: 2;
}

.modal-window {
  background-color: var(--grey-darker);
  color: var(--white);
  position: fixed;
  left: 50vw;
  top: 50vh;
  min-height: 35vh;
  max-height: 80vh;
  min-width: 40%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: 0 0 10px 0 #000000b3;
  padding: 4rem 5rem;
  overflow: auto;
  z-index: 2;
}

.modal-window__wrapper {
  position: relative;
}

.modal-window__title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.modal-window__close {
  position: absolute;
  right: -3rem;
  top: -2.5rem;
}
